.page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e7eb;
    font-family: Arial, sans-serif;
}

.id-card {
    width: 260px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    overflow: hidden;
}

.header {
    background: green;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 15px 0;
    object-fit: cover;
    border: 3px solid black;
}

.details {
    padding: 10px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.course,
.year,
.id {
    font-size: 13px;
    color: #444;
}

.footer {
    background: gray;
    padding: 8px;
    font-size: 11px;
    color: black;
}
